<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    {% extends 'base.html' %}
    {% block content %}
    <main class="container py-5">
        <section class="card card-body">
            <h1 class="display-1 text-center">Django  App</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, veniam eaque. Ex nemo rerum quis minus quidem accusamus fugiat numquam nostrum corporis. Hic officia quaerat, rem aliquid iste dolore minus.
            Quidem voluptate vero fugiat magnam dicta distinctio enim consequuntur tempore at, in ea fugit! Eveniet voluptatem eum distinctio, beatae temporibus ea! Nam qui aspernatur, quo sed ab reprehenderit cupiditate ea.
            Natus quisquam similique placeat! Nisi illo corporis sunt. Sunt ratione debitis quos porro nihil laboriosam. Quam vel non sint provident. Expedita, dicta? Iure architecto vel nihil, a eum consectetur maiores.
            Eligendi nemo quas iste veritatis architecto porro! Recusandae magnam ipsam dolorem? Nam inventore vel, pariatur reprehenderit ab repudiandae? Facere quasi quam illum libero deleniti amet aliquam perferendis nostrum expedita tenetur.
            Dolores odio inventore illo quam eos enim nulla laudantium? Rem, ipsam ducimus. Esse quos fugit aspernatur nihil? Ut perferendis beatae non. Modi totam porro minus nemo vel, odit eum magnam!</p>
            <div>
                <a class="btn btn-dark text-centener" href="/signin/">Sign-in</a>
                <a class="btn btn-dark text-center" href="/signup/">Sign-up</a>

            </div>
        </section>
    </main>
    {% endblock %}
</body>
</html>